apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: app # This will be overridden by specific sping boots app labels
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "true"
        signal-iduna.de/prometheus.scrape: "true"
        signal-iduna.de/prometheus.port: "8081"
        signal-iduna.de/prometheus.path: "/metrics/prometheus"          
    spec:
      containers:
        - name: app
          image: app-image
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /health/readiness
              port: 8081
            periodSeconds: 20
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /health/liveness
              port: 8081
            periodSeconds: 15
            failureThreshold: 5
          startupProbe:
            httpGet:
              path: /health/readiness
              port: 8081
            failureThreshold: 9
            periodSeconds: 10
            timeoutSeconds: 5
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            runAsNonRoot: true
          envFrom:
            - configMapRef:
                name: backend-cm
          env:
            # K8s
            - name: K8S_ENVIRONMENT_LABEL
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['environment']
            - name: K8S_NAMESPACE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: K8S_POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: K8S_POD_UID
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.uid
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsNonRoot: true
      serviceAccountName: identity
