apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-beispiel-service"

resources:
  - ../../base
  - admin-virtualservice.yaml
  - destination-rule.yaml

components:
  - ../../base/components/postgres
  - ../components/postgres
  - ../../base/components/kafka
  - ../components/kafka

images:
  - name: app-image
    newName: dev.docker.system.local/elpa-beispiel-service-tst
    newTag: v1.0.0

configMapGenerator:
  - name: backend-cm
    behavior: merge
    literals:
      - SERVICE_NAME=beispiel-service
      - POSTGRES_SCHEMA_NAME=beispiel_schema
      - AUTH_URL=https://auth.example.com

patches:
  - path: virtualservice-patch.yaml
  - path: service-app-patch.yaml
  - path: deployment-patch.yaml


