apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-hint"

resources:
  - ../../base

components:
  - https://git.system.local/scm/elpa/hint.git//copsi/dev?ref=3f8e253dbd597cd89bf57f4ae2923c8242a3bde0
  - ../../base/components/postgres
  - ../components/postgres
  - ../../base/components/kafka
  - ../components/kafka

configMapGenerator:
  - name: backend-cm
    behavior: merge
    files:
      - configmap.yaml

images:
  - name: app-image
    newName: dev.docker.system.local/elpa-hint-tst/hint
    newTag: 8518f2a.3

patches:  
  - path: service-app-patch.yaml
  - path: deployment-patch.yaml
  - path: virtualservice-patch.yaml
  - path: metrics-virtualservice-patch.yaml