apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-hint"

resources:
  - ../../base
  - destination-rule.yaml
  - destination-metrics-rule.yaml

components:
  - ../../base/components/postgres
  - ../components/postgres
  - ../../base/components/kafka
  - ../components/kafka
  - ../../base/components/environments
  - ../components/environments

images:
  - name: app-image
    newName: dev.docker.system.local/elpa-hint-tst/hint
    newTag: 8518f2a.3

configMapGenerator:
  - name: backend-cm
    behavior: merge
    literals:
      - SERVICE_NAME=hint-service
      - POSTGRES_SCHEMA_NAME=hin_develop
      - AUTH_URL=https://employee.login.int.signal-iduna.org/
      - AUTH_USERS=S000325,The.Kiet.Dang@signal-iduna.de
      

patches:  
  - path: service-app-patch.yaml
  - path: deployment-patch.yaml
  - path: virtualservice-patch.yaml
  - path: metrics-virtualservice-patch.yaml


