apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-hint"

resources:
  - ../../base
  - destination-rule.yaml
  - destination-metrics-rule.yaml

components:
  - ../../base/components/postgres
  - ../components/postgres
  - ../../base/components/kafka
  - ../components/kafka

images:
  - name: app-image
    newName: dev.docker.system.local/elpa-hint-tst/hint
    newTag: 22ee584.2

configMapGenerator:
  - name: backend-cm
    behavior: merge
    literals:
      - SERVICE_NAME=hint-service
      - POSTGRES_SCHEMA_NAME=hin_develop
      - AUTH_URL=https://employee.login.int.signal-iduna.org/
      - OTEL_SERVICE_NAME=hint-service
      - OTEL_RESOURCE_ATTRIBUTES=service.name:hint-service,service.version=22ee584.2,deployment.environment=nop,k8s.namespace.name=elpa-elpa4
      - AUTH_USERS=S000325,U167653

patches:  
  - path: service-app-patch.yaml
  - path: deployment-patch.yaml
  - path: virtualservice-patch.yaml
  - path: metrics-virtualservice-patch.yaml


