apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-hint"

resources:
  - ../../base

components:
  - https://git.system.local/scm/elpa/hint.git//copsi/dev?ref=85eb0be6e13199af11203fbe16eaf77a706e282d
  - ../../base/components/postgres
  - ../components/postgres
  - ../../base/components/kafka
  - ../components/kafka
  - ../components/environments
  - ../../base/components/environments

images:
  - name: app-image
    newName: dev.docker.system.local/elpa-hint-tst/hint
    newTag: 8518f2a.3