spring:
  cloud:
    stream:
      kafka:
        binder:
          brokers: ${KAFKA_BROKERS:localhost:9092}
          enableObservation: true
          configuration:
            security:
              protocol: ${KAFKA_SECURITY_PROTOCOL:SASL_PLAINTEXT}
            sasl:
              mechanism: ${KAFKA_SASL_MECHANISM:OAUTHBEARER}
              jaas:
                config: org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required clientId="${KAFKA_OAUTH_CLIENT_ID:workload-client}" clientSecret="${KAFKA_OAUTH_CLIENT_SECRET:workload-secret}";
              login:
                callback:
                  handler:
                    class: org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginCallbackHandler
              oauthbearer:
                token:
                  endpoint:
                    url: ${KAFKA_OAUTH_TOKEN_ENDPOINT_URL}
management:
  tracing:
    sampling:
      probability: ${MANAGEMENT_TRACING_SAMPLING_PROBABILITY:1.0}
    export:
      otlp:
        enabled: ${MANAGEMENT_OTLP_TRACING_EXPORT_ENABLED:true}
      enabled: ${MANAGEMENT_TRACING_ENABLED:true}
  otlp:
    metrics:
      export:
        url: ${MANAGEMENT_OTLP_METRICS_EXPORT_URL:http://splunk-otel-collector-agent.splunk-otel-collector.svc.cluster.local:4318/v1/metrics}
        enabled: ${MANAGEMENT_OTLP_METRICS_EXPORT_ENABLED:true}
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: ${MANAGEMENT_OTLP_TRACING_EXPORT_URL:http://splunk-otel-collector-agent.splunk-otel-collector.svc.cluster.local:4318/v1/traces}
