spring:
  application:
    name: hint-service
  cloud:
    stream:
      kafka:
        binder:
          brokers: ${KAFKA_BROKERS:localhost:9092}
          enableObservation: true
          configuration:
            security:
              protocol: ${KAFKA_SECURITY_PROTOCOL:SASL_PLAINTEXT}
            sasl:
              mechanism: ${KAFKA_SASL_MECHANISM:OAUTHBEARER}
              jaas:
                config: org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required clientId="${KAFKA_OAUTH_CLIENT_ID:workload-client}" clientSecret="${KAFKA_OAUTH_CLIENT_SECRET:workload-secret}";
              login:
                callback:
                  handler:
                    class: org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginCallbackHandler
              oauthbearer:
                token:
                  endpoint:
                    url: ${KAFKA_OAUTH_TOKEN_ENDPOINT_URL}
management:
  tracing:
    sampling:
      probability: ${MANAGEMENT_TRACING_SAMPLING_PROBABILITY:0.1}
    export:
      enabled: ${MANAGEMENT_TRACING_ENABLED:true}
  otlp:
    metrics:
      export:
        url: ${MANAGEMENT_OTLP_METRICS_EXPORT_URL:http://splunk-otel-collector-agent.splunk-otel-collector.svc.cluster.local:4318/v1/metrics}
        enabled: true
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: ${MANAGEMENT_OTLP_TRACING_EXPORT_URL:http://splunk-otel-collector-agent.splunk-otel-collector.svc.cluster.local:4318/v1/traces}
    resource-attributes:
      service.name: ${SERVICE_NAME:hint-service}
      service.namespace: ${K8S_NAMESPACE_NAME:elpa-elpa4}
      deployment.environment: ${DEPLOYMENT_ENV:dev}
  metrics:
    distribution:
      percentiles-histogram:
        http.server.request: true
      percentiles:
        http.server.request: 0.5, 0.9, 0.95, 0.99
      slo:
        http.value: 100ms, 500ms, 1s, 5s
    tags:
      application: ${SERVICE_NAME:hint-service}
      environment: ${K8S_ENVIROMENT_LABEL:dev}
      namespace: ${K8S_NAMESPACE_NAME:elpa-elpa4}
      pod: ${K8S_POD_NAME:unknown}


