apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-<service-name>"

resources:
  - ../../base  
  - destination-rule.yaml
  - destination-metrics-rule.yaml

components: 
  <components-list>

images:
  - name: app-image
    newName: <image-name>
    newTag: <image-tag>

configMapGenerator:
  - name: backend-cm
    behavior: merge
    literals: 
      <literals-list>

patches:  
  - path: service-app-patch.yaml
  - path: deployment-patch.yaml
  - path: virtualservice-patch.yaml
  - path: metrics-virtualservice-patch.yaml
