apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-tst-service"

resources:
  - ../../base
  - admin-virtualservice.yaml
  - destination-rule.yaml

components:
    - ../../base/components/postgres\n  - ../components/postgres\n  - ../../base/components/kafka\n  - ../components/kafka

images:
  - name: app-image
    newName: dev.docker.system.local/elpa-tst-service-tst/tst-image
    newTag: dqwd.d

configMapGenerator:
  - name: backend-cm
    behavior: merge
    literals:
      - SERVICE_NAME=tst-service
      - POSTGRES_SCHEMA_NAME=<postgres-schema-name>

patches:
  - path: virtualservice-patch.yaml
  - path: service-app-patch.yaml
  - path: deployment-patch.yaml


