apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-<service-name>"

resources:
  - ../../base
  - admin-virtualservice.yaml
  - destination-rule.yaml

components:
  <components-list>

images:
  - name: app-image
    newName: <image-registry>/<project-name>/<image-name>
    newTag: <image-tag>

configMapGenerator:
  - name: backend-cm
    behavior: merge
    literals:
      - SERVICE_NAME=<service-name>
      - POSTGRES_SCHEMA_NAME=<postgres-schema-name>

patches:
  - path: virtualservice-patch.yaml
  - path: service-app-patch.yaml
  - path: deployment-patch.yaml


