apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-application-service"

resources:
  - ../../base
  - destination-rule.yaml
  - destination-metrics-rule.yaml

components:
  - ../../base/components/environments
  - ../components/environments

images:
  - name: app-image
    newName: dev.docker.system.local/elpa-application-tst/backend
    newTag: 05e9ee2.1

configMapGenerator:
  - name: backend-cm
    behavior: merge
    literals:
      - SERVICE_NAME=application-service
      - AUTH_URL=https://employee.login.int.signal-iduna.org/
      - ELPA_URL=https://elpatest.system.local
      - ABW_AUTH_URL_CRM_ROUTING=https://employee.login.int.signal-iduna.org/
      - AUTH_USER=S000325
      - AUTH_USERS=S000325, U066096, S001199, S001200, S000676
      - SWAGGER_ENABLED=true


patches:  
  - path: service-app-patch.yaml
  - path: deployment-patch.yaml
  - path: virtualservice-patch.yaml
  - path: metrics-virtualservice-patch.yaml


