apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: "-hint"

resources:
  - ../../base

components:
  - https://git.system.local/scm/elpa/hint.git//copsi/tst?ref=05ec3e1b5519f98de92f57057b2b068829148fe8
  - ../../base/components/postgres
  - ../components/postgres
  - ../../base/components/kafka
  - ../components/kafka
  - ../components/environments
  - ../../base/components/environments

images:
  - name: app-image
    newName: dev.docker.system.local/elpa-hint-tst/hint
    newTag: 05ec3e1.3
