apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# mongo cluster for all dev services - MONGO-DEV-CLUSTER
# MONGO-DATABASE 

helmCharts:
  - releaseName: percona-mongodb-si
    repo: https://docker.system.local/repository/si-charts-dev/
    name: percona-mongodb-si
    version: 1.0.0
    valuesInline:
      image:
        crVersion: 1.19.1                                    # Optional - (Default) Version des Operators
        name: percona/percona-server-mongodb:6.0.19-16    # Optional - (Default) Image mit dem der MongoDB Cluster aufgebaut wird
      replicaCount: 1                # Optional - (Default) per Default auf 3 - andere Werte im Test möglich nach setzen von unsafeFlags.replsetSize = true
      deletePvcOnDelete: false                            # Optional - (Default) für Deployments im Test konfigurierbar - löscht PVCs nach Entfernen des Clusters (Verlust aller Daten in der DB! Nur in stage nop möglich)
      pause: false                                        # Optional - (Default) stoppt den Cluster, wenn true gesetzt wird
      unsafeFlags:
        replsetSize: true
      label: mongo
      labelName: database
      mongouserRoles: # Darf nur in NOP verwendet werden
        - name: readWrite
          db: mongodb # User "mongouser" hat Rechte auf Datenbank "mongodb"
      prefix: dev
      namespace: elpa-elpa4
      secret:
        name: dev-elpa-elpa4-secrets
      resources:
        requests:
          cpu: 110m
          memory: 628Mi
        limits:
          cpu: 1
          memory: 1Gi
        storage: 10
      stage: nop