apiVersion: apps/v1
kind: Deployment
metadata:
  name: alpine-caller
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: alpine-caller
  template:
    metadata:
      labels:
        app: alpine-caller
      annotations:
        sidecar.istio.io/inject: "true"
    spec:
      containers:
        - name: alpine-caller
          image: prod.docker.system.local/baseimages/build-alpine3.20:40
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh", "-c"]
          args: [while true; do echo 'Hello - I am up n running'; sleep 3600; done]
          resources:
            requests:
              cpu: 101m
              memory: 100Mi
            limits:
              cpu: 200m
              memory: 200Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            runAsNonRoot: true
          ports:
            - containerPort: 8080
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsNonRoot: true
      serviceAccountName: identity
